.banner{
    display: flex;
    position: relative;
    height: 15rem;
    margin: 1rem 0;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        position: relative;
        filter:brightness(65%);
      }
    p{
      position: absolute;
      color: white;
      margin:0;
      font-size: 3rem;
      font-weight: bold;
      bottom: calc(50% - 2rem);
      left: 0%;
      text-align: center;
      width:100%;
    }
    @media screen and (min-width: 320px) and (max-width: 700px) {
        height: 7rem;
        p{
            font-size: 1.4rem;
            text-align: start;
            top: calc(50% - 1.5rem);
            left: 0.7rem;
        }   
    }
  }