


.cardGallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding : 2rem 0;
  border-radius: 25px;
  background-color: #F6F6F6;
  
  .card{
    height: 30rem;
    width: 30%;
    position: relative;
    box-sizing: border-box;
      a{
        display:block;
        height: 100%; 
        width: 100%;
        border-radius: 25px;
        background: linear-gradient(#F6F6F6 30%, black 70%);
        p{
          position: absolute;
          width: 60%;
          bottom: 5px;
          left: 5px;
          color: white;
        }
      }
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: relative;
        border-radius: 25px;
        opacity: 0.7;
      }
    }

    @media screen and (min-width: 320px) and (max-width: 700px){
      padding:0;
      .card {
        height: auto;
        width:100%;
        p{
          font-size: 1.1rem;
        }
      }
    }  
}





    

        